registry "https://registry.npm.taobao.org"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
"@coding:registry" "https://codingcorp-npm.pkg.coding.net/CodingUIKit/coding/"
"@micro-frontend:registry" "https://codingcorp-npm.pkg.coding.net/micro-frontend/public-npm/"
"@coding-frontend:registry" "https://codingcorp-npm.pkg.coding.net/micro-frontend/public-npm/"