.refs {
    min-height: 50px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 12px;
    padding-bottom: 10px;
}

.el-button--text .el-link.el-link--default {
    font-size: 12px;
    color: #007eff;
    font-weight: 400;
    text-decoration: underline;
}