.ms-icon-more {
    transform: rotate(90deg);
  }

  .show-more-btn {
    width: 20px;
    height: 25px;
    line-height: 25px;
  }

  .show-more-btn-title {
    color: #696969;
    background-color: #e2e2e2;
    padding: 5px;
  }

  .dropdown-menu-class {
    padding: 1px 0;
    text-align: center;
  }